.sousmenu {  font-family: Verdana; font-size: 8pt; color: 494A44; 
text-decoration: none}
.texte {  font-family: Verdana; font-size: 9pt; color: 494A44}
a {  color: 40C8FF; text-decoration: none}
.menu {  font-family: Verdana; font-size: 8pt; color: 494A44; 
text-decoration: none}
.intranet {  font-family: Verdana; font-size: 7pt; color: 494A44; 
text-decoration: none}
a:hover {  color: DA8413}
.titre {  font-family: Verdana; font-size: 10pt; color: 494A44; 
text-decoration: none; font-weight: bold}
